<div class="card">
    <div class="card-body pt-2" style="background: #156145; color: white; height: 45px;">
        <h5 class="card-title">Categories</h5>
    </div>
    <ul class="list-group list-group-flush" style="font-weight: bold">
        <li class="list-group-item"><a th:href="@{'/admin_panel'}">Products items</a></li>
        <li class="list-group-item"><a th:href="@{'/countries'}">Countries</a></li>
        <li class="list-group-item"><a th:href="@{'/brand'}">Brands</a></li>
        <li class="list-group-item"><a th:href="@{'/categories'}">Categories</a></li>
    </ul>
</div>