<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<div th:include="include/navbar"></div>
<div class="container">
    <div class="row">
        <div class="col-md-3 mt-4" th:include="include/rigthSide"></div>
        <div class="col-md-9 mt-4">
            <div th:include="include/search"></div>
            <div class="card">
                <img class="card-img-top" th:src="${item.getLargePicURL()}" alt="Card image cap" style="height: 400px">
                <div class="card-body">
                    <a href="#" class="card-title" style="font-weight: 500; font-size: 20px;" th:text="${item.getName()}"></a>
                    <p class="card-text mt-2" style="font-weight: bold" th:text="'$'+${item.getPrice()}"></p>
                    <p class="card-text" th:text="${item.getDescription()}"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>